__pycache__/

data/model/

data/btsj/btsj*
data/nucc/nucc*
data/stc/*.bz2
data/stc/*.txt

data/*.tsv
data/src-*
data/tgt-*
data/pred.txt
data/train.*
data/valid.*
data/test.*

twitter/.env
twitter/sample*
