__pycache__/

data/model/

data/*.tsv

data/nucc*
data/stc*

data/src-*
data/tgt-*
data/pred.txt*

data/train.*
data/valid.*
data/test.*

btsj/btsjcorpus_ver2020/
btsj/tsvs/

twitter/.env
twitter/sample*
